# Created by .ignore support plugin (hsz.mobi)

# Files to be ignored for IntelliJ IDEA Project
.idea/
.gradle/
gradle/
build/
*.iml
*.iws

# Ignore Gradle GUI config
gradle-app.setting
gradlew
gradlew.bat
